.u-section-1 .u-sheet-1 {
  min-height: 906px;
}

.u-section-1 .u-form-1 {
  height: 497px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}