 .u-section-1 {
  background-image: url("/images/Screenshot55.png");
  background-position: 50.38% 57.17%;
  background-size: auto 295%;
}

.u-section-1 .u-sheet-1 {
  min-height: 973px;
}

.u-section-1 .u-group-1 {
  width: 929px;
  min-height: 712px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 474px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -36px auto 0 46px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1033px;
  margin: 30px -178px -89px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 297px;
  grid-gap: 15px 15px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 46px;
  width: 46px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 46px;
  width: 46px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 46px;
  width: 46px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 114px auto 60px 44px;
  padding: 10px 463px 12px 462px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-1 .u-group-1 {
    min-height: 868px;
  }

  .u-section-1 .u-list-1 {
    width: 898px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 356px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
    padding: 11px 422px 11px 420px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 1252px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    min-height: 645px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 4px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -186px;
    margin-right: 30px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 117px;
    padding-left: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 1599px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 736px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 215px;
    padding-bottom: 12px;
    padding-left: 213px;
    margin: -324px auto 40px 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1500px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 348px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -24px;
    margin-right: 32px;
    margin-left: 23px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 829px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -211px;
    margin-bottom: 60px;
    padding-right: 122px;
    padding-left: 120px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1142px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 746px;
  margin: 103px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 3rem;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  width: 265px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-3 {
  width: 746px;
  margin: 13px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 631px;
  grid-gap: 17px 17px;
  margin: 10px 0 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 13px;
    padding: 0 38px 1px;
  }

  .u-section-2 .u-gallery-1 {
    height: 520px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 35px;
    padding-bottom: 0;
    padding-left: 34px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 896px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3199px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2688px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2202px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 85px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    font-size: 2.0625rem;
    margin-left: -8px;
    margin-right: -8px;
    padding-right: 21px;
    padding-bottom: 1px;
    padding-left: 19px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 77px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1692px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: url("/images/Screenshot58.png");
  background-position: 50.29% 55.24%;
  background-size: 245%;
}

.u-section-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3 .u-shape-1 {
  width: 245px;
  height: 245px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px 219px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 551px;
  min-height: 499px;
  margin: -192px auto 60px 184px;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 11px 44px 11px 42px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-size: auto 245%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 20px;
    margin-right: 55px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -71px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin: -68px 0 58px auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 55.26% 100%;
    background-size: auto 155%;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 90px;
    margin-left: -37px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -138px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 676px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-4 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  margin: 15px auto 0 0;
  padding: 12px 30px 14px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 185px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 10px 10px 30px;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
  line-height: 2;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 185px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  margin-top: 0;
  line-height: 2;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 556px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 358px;
  height: 338px;
  margin: 43px 46px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 353px;
  min-height: 251px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  height: auto;
  margin: -96px auto 0 15px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 11px 0 0;
}

.u-section-4 .u-form-1 {
  height: 409px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 610px;
  }

  .u-section-4 .u-group-1 {
    min-height: 268px;
    margin-top: -51px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-form-1 {
    height: 497px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 55px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 68px;
  }

  .u-section-4 .u-group-1 {
    width: 311px;
    margin-top: -112px;
    margin-right: 79px;
    margin-left: auto;
  }

  .u-section-4 .u-form-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 941px;
  }

  .u-section-4 .u-image-1 {
    width: 100px;
    margin-top: -6px;
    margin-left: 109px;
  }

  .u-section-4 .u-group-1 {
    width: 331px;
    margin-top: 341px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 168px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 168px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 801px;
  }

  .u-section-4 .u-image-1 {
    height: 94px;
  }

  .u-section-4 .u-group-1 {
    width: 267px;
    min-height: 288px;
    margin-top: -89px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-form-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }
}